$tablet-width: 767px;
$mobile-width: 320px;
$desktop-width: 1199px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-white: #ffffff;
$color-white2:#f2f2f2;
$color-blue: #1698d9;
$color-lightblue: #2ea8e6;
$color-grey: #666666;
$color-black: #000000;
$color-pink: #d91667;
$color-lightgrey: #b3b3b3;
$color-yellow: #ffff66;

$trebuchems: "TrebuchetMS",
  "Arial",
  sans-serif;
$exo2:"Exo2.0",
  "Arial",
  sans-serif;
